<div class="side-bar-header"> 
  <div class="header-name">
  <%# 記述の読み方 %>
<%= link_to current_user.name, edit_user_path(current_user) %>
    <%# <a href="">けいぷろ</a> %>
  </div>
  <div class="create-room">
  <%# 指定のチャットRoomへ移動 %>
  <%= link_to "チャットを作成する", new_room_path %>
    <%# <a href="">チャットを作成する</a> %>
  </div>
</div>

<%# roomの名前をデータベースからひっぱってくる %>
<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%# <a href="#"><%= room.name</a> %>
         <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>

  <%# <div class="room"> %>
    <%# <div class="room-name"> %>
  <%# <a href="">Team D2</a> %>
    <%# </div> %>
  <%# </div> %>

