.wrapper{
  display: flex;
}

.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
} 

.side-bar-header{
  height: 100px;
  /* 幅の調整 */
  padding:0 20px;
}

.side-main{
  background-color: #2F3E51; 
  height: calc(100vh - 100px);
  /* 幅の調整 */
  padding:0 20px;
}

.chat{
  background-color: #FFFFFF;
  width: calc(100% - 300px);
}


.chat-header{
  height: 100px;
  /* 幅の調整 */
  padding:0 40px;
}

.chat-main{ 
  background-color: #FAFAFA;
  padding-bottom: 90px;
  height: calc(100vh - 100px - 90px );
  /* 幅の調整 */
  padding:46px 40px 0;
}

.chat-footer{
  background-color: #DDDDDD;
  height: 90px;
  /* 幅の調整 */
  padding:20px 40px;
   }